@using CLENT.Pages.OtherPage
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
         <NavMenu /> 
    </div>

    <main>
        <div class="top-row px-4">
            <ProfileDropDown></ProfileDropDown>
         
           
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<Syncfusion.Blazor.Popups.SfDialogProvider />
@code{
    async Task LogOutclicked()
    {
        var LogoutModel = new UserSession();
        var customAuth = (CustomAuthanticationStateProvider)AuthStateProvider;
        await customAuth.UpdateAuthenticationState(LogoutModel);
       NavManager.NavigateTo("/", forceLoad:true);
    }
}