
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 cursorstyle">
            <div class="card border-primary">
                <div class="card-header"><i class="bi bi-people text-primary"> Emploees</i></div>
            </div>
        </div>
        <div class="col-lg-2 cursorstyle">
            <div class="card border-success">
                <div class="card-header"><i class="bi bi-backpack3 text-success"> Vacationes</i></div>
            </div>
        </div>
        <div class="col-lg-2 cursorstyle">
            <div class="card border-danger">
                <div class="card-header"><i class="bi bi-stopwatch text-danger"> Overtimes</i></div>
            </div>
        </div>
        <div class="col-lg-2 cursorstyle">
            <div class="card border-warning">
                <div class="card-header"><i class="bi bi-hospital text-warning"> Docters</i></div>
            </div>
        </div>
        <div class="col-lg-2 cursorstyle">
            <div class="card border-info">
                <div class="card-header"><i class="bi bi-octagon text-info"> Sanctions</i></div>
            </div>
        </div>
        <div class="col-lg-2 cursorstyle">
            <div class="card border-dark">
                <div class="card-header"><i class="bi bi-slack text-dark"> Department</i></div>
            </div>
        </div>
    </div>

</div>